<div class="message" data-message-id="<%= message.id %>">
  <div class="message-header">
    <strong><%= message.sender_name %></strong>
    <span class="time"><%= message.formatted_time %></span>
  </div>
  <div class="message-content">
    <%= message.content %>
  </div>
</div>